  body {
    margin: 0;
  }

  a {
    color: black;
    text-decoration:none;
  }

  ul {
    width: 1000px;
    margin: 0;
    padding: 20px
  }
img{
  border: none solid black;
  width: 1000px;
}
  .title {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .title a {
    color: white;
    font-weight: Weight;
  }

  .title h1 {
    font-size: 2.5em;
    margin: 0;
    padding: none;
  }
  .title h2 {
    color: white;
    font-size: 1em;
    font-weight: lighter;
    font-style: oblique;
    margin: 0;
  }
  #titlewrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
  }
  #grid {
    border : 1px solid black;
    border-left: none;
    border-right: none;
    width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
  }
  #article {
    width: 1000px;
    margin: 0 auto;
    padding-top: none;
    padding-bottom: none;
    background-color: white;
  }
  @media(max-width: 800px) {
    #title {
      display: block;
    }

  }
